<div class="container form">
  <mat-card [formGroup]="paymentFormGroup">
    <mat-card-header>
      <mat-card-title>New payment</mat-card-title>
    </mat-card-header>
    <mat-card-content class="payment-form">
      <mat-form-field>
        <mat-label>Payment date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="paymentType">
          @for (type of types; track type) {
            <mat-option [value]="type">{{type}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Receipt</mat-label>
        <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon> attach_file</mat-icon>
        </button>
        <input matInput readonly formControlName="fileName">
        <input type="file" hidden #f_input (change)="selectFile($event)" accept="application/pdf">
      </mat-form-field>
      <button mat-raised-button (click)="savePayment()">Save payment</button>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="pdfFileUrl" class="pdf-card">
    <mat-card-header>
      <mat-card-title>Payment receipt preview</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pdf-viewer
        [src]="pdfFileUrl"
        [render-text]="true"
        [original-size]="true"
        [external-link-target]="'blank'"
        [fit-to-page]="true"
        [rotation]="0"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [show-all]="true"
        [render-text-mode]="1"
        [show-borders]="false"
        [autoresize]="true"
        class="pdf-viewer"
        (after-load-complete)="successLog()"
      ></pdf-viewer>
    </mat-card-content>
  </mat-card>
</div>
